@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;1,100&display=swap");

html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 5vh;
  overflow-x: hidden;
  max-width: 100%;
  word-wrap: break-word;
}

.development-body {
  padding-left: 6vw;
  padding-right: 6vw;
}

/* Avatar with picture */
.avatar {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -webkit-user-select: none;
  user-select: none;
  border-radius: 50%;
  position: absolute;
  background: url("/assets/avatar.png") no-repeat center center;
  background-size: 100% 100%;

  &::after {
    content: "";
    border-radius: 50%;
    left: 0;
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: 100% 100%;
    filter: blur(10px) brightness(80%) opacity(0.8);
    z-index: -1;
  }
}

body {
  background-color: #f0f0f0;
}

h1,
h4,
h5 {
  color: #343a40;
}
h3 {
  letter-spacing: 0.2em;
  background-image: linear-gradient(to left, #f0f0f0, #b2c1cd);
  margin-left: -20px;
  padding-left: 20px;
  color: #f0f0f0;
}

h1,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  z-index: 1;
}
p {
  font-size: 17px;
  line-height: 2.5;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}

#outer {
  width: 90%;
  height: auto;
  position: relative;
  background-color: #f0f0f0;
  opacity: 0.8;
}

.light {
  color: #343a40;
  font-weight: bold;
}
h2 {
  font-size: larger;
}

.li-project {
  list-style-type: square;
}

body,
h2,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
  z-index: 1;
}

ol,
ul {
  list-style: none;
}

#text-section {
  scroll-padding-top: 50px;
  left: 50%;
  margin-top: 100vh;
}

#cover-section {
  position: fixed;
  z-index: 2;
  left: 0;
  text-align: center;
  justify-content: center;
  opacity: 0;
}

.selected {
  color: #343a40 !important;
  transform: (1.25);
  font-weight: bolder;
}

#index {
  transition: all 1s ease;
  height: 14vh;
  display: block;
}

.hidden-index {
  opacity: 0;
  height: 0 !important;
  pointer-events: none;
}

::selection {
  background: #343a40;
  color: #f0f0f0;
}

/* Responsive Design */
@media (max-width: 1000px) {
  #cover-section {
    display: block;
    opacity: 1;
    margin: 0;
    position: absolute;
  }
  #index {
    transition: 0s;
  }
  #text-section {
    left: 0;
  }
}

@media (min-width: 1000px) {
  #cover-section {
    display: block;
    position: fixed;
    margin: auto;
  }

  #text-section {
    padding-right: 12% !important;
  }
}

.zoom-icon:hover {
  outline: none;
  cursor: pointer;
  color: #343a40;
  font-weight: bolder;
}

.development {
  position: relative;
  display: inline-block;
  border: 1.5px solid #b2c1cd;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 75px;
  top: 50%;
  width: 75px;
  height: 75px;
  margin: 5px;
  transition: 0.5s ease-in-out;
  user-select: none;
}

.card {
  background-color: #f0f0f0;
  border: 0px;
}

.repository {
  font-size: 1.5em;
  display: block;
}

.card-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container {
  position: relative;
  display: flex;
  width: 260px;
  height: 260px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4vh;
  overflow: visible;
}

.container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Las */
.check {
  margin-bottom: 25%;
}

#mode {
  position: fixed;
  bottom: 5%;
  left: 3%;
}
